# Username and password for the Matrix bot.
MATRIX_USERNAME=bot123
MATRIX_PASSWORD=XXXXXXXXXXXXXXXXXXXXXx

# Where you want to send notifications
MATRIX_ROOM=!gcZlJyiqeHFOgGalYi:matrix.org

# Ntfy options
NTFY_HOST_URL=https://ntfy.sh
NTFY_ROOM=bot123

# From what canteen you want to get meals
STRAVA_CANTEEN=0000
